<homeheader-file></homeheader-file>
<link rel="stylesheet" href="./assets/custom-css/video.css" />

<div class="container vidcontainer">
    <br>
    <div class="card card-body containerCard">
        <div class="container">

            <div class="col-md-12">
                <!-- ******************************** PUBLIC VIDEOS **************************************-->
                <div data-ng-model="pub" data-ng-hide="name == null || name == ''">
                    <h2><strong>Public</strong></h2>

                    <button class="btn btn-default" ng-click="clickAsc()">Ascending</button>
                    <button class="btn btn-default" ng-click="clickDescending()">Descending</button>

                    <hr>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-12" style="margin-bottom: 10px;" data-ng-repeat="videos in filteredVideos | orderBy:!reverseSort">
                            <div class="card homeCards">
                                <a href="#!Video">

                                    <img class="card-img-top homeCardsImage" ng-src="{{videos.data.thumbnail_link}}" alt="Card image cap" data-ng-click="getIndex(videos.id)">
                                </a>
                                <div class="text-block">
                                    <small>{{videos.data.duration}}</small>
                                </div>
                                <div class="card-body" style="padding: 0px 3px 0px 3px">
                                    <h5 class="card-title homeCardsName"><strong><a href="#!Video" data-ng-click="getIndex(videos.id)" data-toggle="tooltip" data-placement="top" title="{{videos.data.video_name}}">
                                                <h5 class="card-title homeCardsName"><strong>{{(videos.data.video_name | limitTo: 50) + (videos.data.video_name.length > 50 ? ' ...' : '')}}</strong>
                                                </h5>
                                            </a></strong></h5>
                                    <i class="card-text homeCardsUploader" style="font-size: 14px" data-ng-controller="channelCtrl"><a href="" data-ng-click="getInfo(videos.data.video_uploader_Email)">{{(videos.data.video_uploader | limitTo: 35) + (videos.data.video_uploader.length > 35 ? ' ...' : '')}}</a></i>
                                    <p><small style="color: darkgrey;">{{videos.timestampdisplay}}</small></p>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="btn-group btn-group-sm" data-ng-show="showMoreClicked == true">
                                <button type="button" class="btn" ng-class="{'btn-secondary': numPerPage == $index * 5}" ng-repeat="n in [] | range:2" ng-click="showLess($index)" ng-if="$index != 0">Show Less</button>
                            </div>
                            <div class="btn-group btn-group-sm" data-ng-hide="showMoreClicked == true">
                                <button type="button" class="btn" ng-class="{'btn-secondary': numPerPage == $index * 5}" ng-repeat="n in [] | range:2" ng-click="changeNumPerPage($index)" ng-if="$index != 0">Show More</button>
                            </div>
                        </div>

                    </div>
                    <hr>
                </div>

                <div data-ng-show="name == null || name == ''">
                    <!-- ******************************** Events VIDEOS **************************************-->
                    <h2><strong>Events</strong></h2>
                    <div class="row">

                        <div class="col-lg-3 col-md-6 col-12" style="margin-bottom: 10px;" data-ng-repeat="videos in filteredEventsVideos">
                            <div class="card homeCards">
                                <a href="#!Video">

                                    <img class="card-img-top homeCardsImage" ng-src="{{videos.data.thumbnail_link}}" alt="Card image cap" data-ng-click="getIndex(videos.id)">
                                </a>
                                <div class="text-block">
                                    <small>{{videos.data.duration}}</small>
                                </div>
                                <div class="card-body" style="padding: 0px 3px 0px 3px">
                                    <h5 class="card-title homeCardsName"><strong><a href="#!Video" data-ng-click="getIndex(videos.id)" data-toggle="tooltip" data-placement="top" title="{{videos.data.video_name}}">
                                                <h5 class="card-title homeCardsName"><strong>{{(videos.data.video_name | limitTo: 50) + (videos.data.video_name.length > 50 ? ' ...' : '')}}</strong>
                                                </h5>
                                            </a></strong></h5>
                                    <i class="card-text homeCardsUploader" style="font-size: 14px" data-ng-controller="channelCtrl"><a href="" data-ng-click="getInfo(videos.data.video_uploader_Email)">{{(videos.data.video_uploader | limitTo: 35) + (videos.data.video_uploader.length > 35 ? ' ...' : '')}}</a></i>
                                    <p><small style="color: darkgrey;">{{videos.timestampdisplay}}</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="btn-group btn-group-sm" data-ng-show="showMoreEventsClicked == true">
                                <button type="button" class="btn" ng-click="showLessEvents(1)">Show Less</button>
                            </div>
                            <div class="btn-group btn-group-sm" data-ng-hide="showMoreEventsClicked == true">
                                <button type="button" class="btn" ng-click="showMoreEvents(1)">Show More</button>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <!-- ******************************** BUSINESS VIDEOS **************************************-->
                    <h2><strong>Business</strong></h2>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-12" style="margin-bottom: 10px;" data-ng-repeat="videos in filteredBusinessVideos">
                            <div class="card homeCards">
                                <a href="#!Video">
                                    <img class="card-img-top homeCardsImage" ng-src="{{videos.data.thumbnail_link}}" alt="Card image cap" data-ng-click="getIndex(videos.id)">
                                </a>
                                <div class="text-block">
                                    <small>{{videos.data.duration}}</small>
                                </div>
                                <div class="card-body" style="padding: 0px 3px 0px 3px">
                                    <h5 class="card-title homeCardsName"><strong><a href="#!Video" data-ng-click="getIndex(videos.id)" data-toggle="tooltip" data-placement="top" title="{{videos.data.video_name}}">
                                                <h5 class="card-title homeCardsName"><strong>{{(videos.data.video_name | limitTo: 50) + (videos.data.video_name.length > 50 ? ' ...' : '')}}</strong>
                                                </h5>
                                            </a></strong></h5>
                                    <i class="card-text homeCardsUploader" style="font-size: 14px" data-ng-controller="channelCtrl"><a href="" data-ng-click="getInfo(videos.data.video_uploader_Email)">{{(videos.data.video_uploader | limitTo: 35) + (videos.data.video_uploader.length > 35 ? ' ...' : '')}}</a></i>
                                    <p><small style="color: darkgrey;">{{videos.timestampdisplay}}</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="btn-group btn-group-sm" data-ng-show="showMoreBusinessClicked == true">
                                <button type="button" class="btn" ng-class="{'btn-secondary': numberofBusinessPerPage == $index * 5}" ng-click="showLessBusiness(1)">Show Less</button>
                            </div>
                            <div class="btn-group btn-group-sm" data-ng-hide="showMoreBusinessClicked == true">
                                <button type="button" class="btn" ng-class="{'btn-secondary': numberofBusinessPerPage == $index * 5}" ng-click="showMoreBusiness(1)">Show More</button>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <!-- ******************************** DESIGN VIDEOS **************************************-->
                    <h2><strong>Design</strong></h2>
                    <div class="row">

                        <div class="col-lg-3 col-md-6 col-12" style="margin-bottom: 10px;" data-ng-repeat="videos in filteredDesignVideos">
                            <div class="card homeCards">
                                <a href="#!Video">

                                    <img class="card-img-top homeCardsImage" ng-src="{{videos.data.thumbnail_link}}" alt="Card image cap" data-ng-click="getIndex(videos.id)">
                                </a>
                                <div class="text-block">
                                    <small>{{videos.data.duration}}</small>
                                </div>
                                <div class="card-body" style="padding: 0px 3px 0px 3px">
                                    <h5 class="card-title homeCardsName"><strong><a href="#!Video" data-ng-click="getIndex(videos.id)" data-toggle="tooltip" data-placement="top" title="{{videos.data.video_name}}">
                                                <h5 class="card-title homeCardsName"><strong>{{(videos.data.video_name | limitTo: 50) + (videos.data.video_name.length > 50 ? ' ...' : '')}}</strong>
                                                </h5>
                                            </a></strong></h5>
                                    <i class="card-text homeCardsUploader" style="font-size: 14px" data-ng-controller="channelCtrl"><a href="" data-ng-click="getInfo(videos.data.video_uploader_Email)">{{(videos.data.video_uploader | limitTo: 35) + (videos.data.video_uploader.length > 35 ? ' ...' : '')}}</a></i>
                                    <p><small style="color: darkgrey;">{{videos.timestampdisplay}}</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="btn-group btn-group-sm" data-ng-show="showMoreDesignClicked == true">
                                <button type="button" class="btn" ng-click="showLessDesign(1)">Show Less</button>
                            </div>
                            <div class="btn-group btn-group-sm" data-ng-hide="showMoreDesignClicked == true">
                                <button type="button" class="btn" ng-click="showMoreDesign(1)">Show More</button>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <!-- ******************************** Engineering VIDEOS **************************************-->
                    <h2><strong>Engineering</strong></h2>
                    <div class="row">

                        <div class="col-lg-3 col-md-6 col-12" style="margin-bottom: 10px;" data-ng-repeat="videos in filteredEngineeringVideos">
                            <div class="card homeCards">
                                <a href="#!Video">

                                    <img class="card-img-top homeCardsImage" ng-src="{{videos.data.thumbnail_link}}" alt="Card image cap" data-ng-click="getIndex(videos.id)">
                                </a>
                                <div class="text-block">
                                    <small>{{videos.data.duration}}</small>
                                </div>
                                <div class="card-body" style="padding: 0px 3px 0px 3px">
                                    <h5 class="card-title homeCardsName"><strong><a href="#!Video" data-ng-click="getIndex(videos.id)" data-toggle="tooltip" data-placement="top" title="{{videos.data.video_name}}">
                                                <h5 class="card-title homeCardsName"><strong>{{(videos.data.video_name | limitTo: 50) + (videos.data.video_name.length > 50 ? ' ...' : '')}}</strong>
                                                </h5>
                                            </a></strong></h5>
                                    <i class="card-text homeCardsUploader" style="font-size: 14px" data-ng-controller="channelCtrl"><a href="" data-ng-click="getInfo(videos.data.video_uploader_Email)">{{(videos.data.video_uploader | limitTo: 35) + (videos.data.video_uploader.length > 35 ? ' ...' : '')}}</a></i>
                                    <p><small style="color: darkgrey;">{{videos.timestampdisplay}}</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="btn-group btn-group-sm" data-ng-show="showMoreEngineeringClicked == true">
                                <button type="button" class="btn" ng-click="showLessEngineering(1)">Show Less</button>
                            </div>
                            <div class="btn-group btn-group-sm" data-ng-hide="showMoreEngineeringClicked == true">
                                <button type="button" class="btn" ng-click="showMoreEngineering(1)">Show More</button>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <!-- ******************************** SCIENCE VIDEOS **************************************-->
                    <h2><strong>Science</strong></h2>
                    <div class="row">

                        <div class="col-lg-3 col-md-6 col-12" style="margin-bottom: 10px;" data-ng-repeat="videos in filteredScienceVideos">
                            <div class="card homeCards">
                                <a href="#!Video">

                                    <img class="card-img-top homeCardsImage" ng-src="{{videos.data.thumbnail_link}}" alt="Card image cap" data-ng-click="getIndex(videos.id)">
                                </a>
                                <div class="text-block">
                                    <small>{{videos.data.duration}}</small>
                                </div>
                                <div class="card-body" style="padding: 0px 3px 0px 3px">
                                    <h5 class="card-title homeCardsName"><strong><a href="#!Video" data-ng-click="getIndex(videos.id)" data-toggle="tooltip" data-placement="top" title="{{videos.data.video_name}}">
                                                <h5 class="card-title homeCardsName"><strong>{{(videos.data.video_name | limitTo: 50) + (videos.data.video_name.length > 50 ? ' ...' : '')}}</strong>
                                                </h5>
                                            </a></strong></h5>
                                    <i class="card-text homeCardsUploader" style="font-size: 14px" data-ng-controller="channelCtrl"><a href="" data-ng-click="getInfo(videos.data.video_uploader_Email)">{{(videos.data.video_uploader | limitTo: 35) + (videos.data.video_uploader.length > 35 ? ' ...' : '')}}</a></i>
                                    <p><small style="color: darkgrey;">{{videos.timestampdisplay}}</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="btn-group btn-group-sm" data-ng-show="showMoreScienceClicked == true">
                                <button type="button" class="btn" ng-click="showLessScience(1)">Show Less</button>
                            </div>
                            <div class="btn-group btn-group-sm" data-ng-hide="showMoreScienceClicked == true">
                                <button type="button" class="btn" ng-click="showMoreScience(1)">Show More</button>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <!-- ******************************** COMPUTING VIDEOS **************************************-->
                    <h2><strong>Computing</strong></h2>
                    <div class="row">

                        <div class="col-lg-3 col-md-6 col-12" style="margin-bottom: 10px;" data-ng-repeat="videos in filteredComputingVideos">
                            <div class="card homeCards">
                                <a href="#!Video">

                                    <img class="card-img-top homeCardsImage" ng-src="{{videos.data.thumbnail_link}}" alt="Card image cap" data-ng-click="getIndex(videos.id)">
                                </a>
                                <div class="text-block">
                                    <small>{{videos.data.duration}}</small>
                                </div>
                                <div class="card-body" style="padding: 0px 3px 0px 3px">
                                    <h5 class="card-title homeCardsName"><strong><a href="#!Video" data-ng-click="getIndex(videos.id)" data-toggle="tooltip" data-placement="top" title="{{videos.data.video_name}}">
                                                <h5 class="card-title homeCardsName"><strong>{{(videos.data.video_name | limitTo: 50) + (videos.data.video_name.length > 50 ? ' ...' : '')}}</strong>
                                                </h5>
                                            </a></strong></h5>
                                    <i class="card-text homeCardsUploader" style="font-size: 14px" data-ng-controller="channelCtrl"><a href="" data-ng-click="getInfo(videos.data.video_uploader_Email)">{{(videos.data.video_uploader | limitTo: 35) + (videos.data.video_uploader.length > 35 ? ' ...' : '')}}</a></i>
                                    <p><small style="color: darkgrey;">{{videos.timestampdisplay}}</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="btn-group btn-group-sm" data-ng-show="showMoreComputingClicked == true">
                                <button type="button" class="btn" ng-click="showLessComputing(1)">Show Less</button>
                            </div>
                            <div class="btn-group btn-group-sm" data-ng-hide="showMoreComputingClicked == true">
                                <button type="button" class="btn" ng-click="showMoreComputing(1)">Show More</button>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <!-- ******************************** ENGLISH LANGUAGE VIDEOS **************************************-->
                    <h2><strong>English Language</strong></h2>
                    <div class="row">

                        <div class="col-lg-3 col-md-6 col-12" style="margin-bottom: 10px;" data-ng-repeat="videos in filteredEnglishVideos">
                            <div class="card homeCards">
                                <a href="#!Video">

                                    <img class="card-img-top homeCardsImage" ng-src="{{videos.data.thumbnail_link}}" alt="Card image cap" data-ng-click="getIndex(videos.id)">
                                </a>
                                <div class="text-block">
                                    <small>{{videos.data.duration}}</small>
                                </div>
                                <div class="card-body" style="padding: 0px 3px 0px 3px">
                                    <h5 class="card-title homeCardsName"><strong><a href="#!Video" data-ng-click="getIndex(videos.id)" data-toggle="tooltip" data-placement="top" title="{{videos.data.video_name}}">
                                                <h5 class="card-title homeCardsName"><strong>{{(videos.data.video_name | limitTo: 50) + (videos.data.video_name.length > 50 ? ' ...' : '')}}</strong>
                                                </h5>
                                            </a></strong></h5>
                                    <i class="card-text homeCardsUploader" style="font-size: 14px" data-ng-controller="channelCtrl"><a href="" data-ng-click="getInfo(videos.data.video_uploader_Email)">{{(videos.data.video_uploader | limitTo: 35) + (videos.data.video_uploader.length > 35 ? ' ...' : '')}}</a></i>
                                    <p><small style="color: darkgrey;">{{videos.timestampdisplay}}</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="btn-group btn-group-sm" data-ng-show="showMoreEnglishClicked == true">
                                <button type="button" class="btn" ng-click="showLessEnglish(1)">Show Less</button>
                            </div>
                            <div class="btn-group btn-group-sm" data-ng-hide="showMoreEnglishClicked == true">
                                <button type="button" class="btn" ng-click="showMoreEnglish(1)">Show More</button>
                            </div>
                        </div>

                    </div>

                    <hr>

                    <!-- ******************************** POST GRADUAGE COURSEWORK VIDEOS **************************************-->
                    <h2><strong>Postgraduate (Coursework)</strong></h2>
                    <div class="row">

                        <div class="col-lg-3 col-md-6 col-12" style="margin-bottom: 10px;" data-ng-repeat="videos in filteredPgCourseVideos">
                            <div class="card homeCards">
                                <a href="#!Video">

                                    <img class="card-img-top homeCardsImage" ng-src="{{videos.data.thumbnail_link}}" alt="Card image cap" data-ng-click="getIndex(videos.id)">
                                </a>
                                <div class="text-block">
                                    <small>{{videos.data.duration}}</small>
                                </div>
                                <div class="card-body" style="padding: 0px 3px 0px 3px">
                                    <h5 class="card-title homeCardsName"><strong><a href="#!Video" data-ng-click="getIndex(videos.id)" data-toggle="tooltip" data-placement="top" title="{{videos.data.video_name}}">
                                                <h5 class="card-title homeCardsName"><strong>{{(videos.data.video_name | limitTo: 50) + (videos.data.video_name.length > 50 ? ' ...' : '')}}</strong>
                                                </h5>
                                            </a></strong></h5>
                                    <i class="card-text homeCardsUploader" style="font-size: 14px" data-ng-controller="channelCtrl"><a href="" data-ng-click="getInfo(videos.data.video_uploader_Email)">{{(videos.data.video_uploader | limitTo: 35) + (videos.data.video_uploader.length > 35 ? ' ...' : '')}}</a></i>
                                    <p><small style="color: darkgrey;">{{videos.timestampdisplay}}</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="btn-group btn-group-sm" data-ng-show="showMorePgCourseClicked == true">
                                <button type="button" class="btn" ng-click="showLessPgCourse(1)">Show Less</button>
                            </div>
                            <div class="btn-group btn-group-sm" data-ng-hide="showMorePgCourseClicked == true">
                                <button type="button" class="btn" ng-click="showMorePgCourse(1)">Show More</button>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <!-- ******************************** POST GRADUAGE RESEARCH VIDEOS **************************************-->
                    <h2><strong>Postgraduate (Research)</strong></h2>
                    <div class="row">

                        <div class="col-lg-3 col-md-6 col-12" style="margin-bottom: 10px;" data-ng-repeat="videos in filteredPgResearchVideos">
                            <div class="card homeCards">
                                <a href="#!Video">

                                    <img class="card-img-top homeCardsImage" ng-src="{{videos.data.thumbnail_link}}" alt="Card image cap" data-ng-click="getIndex(videos.id)">
                                </a>
                                <div class="text-block">
                                    <small>{{videos.data.duration}}</small>
                                </div>
                                <div class="card-body" style="padding: 0px 3px 0px 3px">
                                    <h5 class="card-title homeCardsName"><strong><a href="#!Video" data-ng-click="getIndex(videos.id)" data-toggle="tooltip" data-placement="top" title="{{videos.data.video_name}}">
                                                <h5 class="card-title homeCardsName"><strong>{{(videos.data.video_name | limitTo: 50) + (videos.data.video_name.length > 50 ? ' ...' : '')}}</strong>
                                                </h5>
                                            </a></strong></h5>
                                    <i class="card-text homeCardsUploader" style="font-size: 14px" data-ng-controller="channelCtrl"><a href="" data-ng-click="getInfo(videos.data.video_uploader_Email)">{{(videos.data.video_uploader | limitTo: 35) + (videos.data.video_uploader.length > 35 ? ' ...' : '')}}</a></i>
                                    <p><small style="color: darkgrey;">{{videos.timestampdisplay}}</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="btn-group btn-group-sm" data-ng-show="showMorePgResearchClicked == true">
                                <button type="button" class="btn" ng-click="showLessPgResearch(1)">Show Less</button>
                            </div>
                            <div class="btn-group btn-group-sm" data-ng-hide="showMorePgResearchClicked == true">
                                <button type="button" class="btn" ng-click="showMorePgResearch(1)">Show More</button>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <!-- ******************************** SHORT COURSES VIDEOS **************************************-->
                    <h2><strong>Short Courses</strong></h2>
                    <div class="row">

                        <div class="col-lg-3 col-md-6 col-12" style="margin-bottom: 10px;" data-ng-repeat="videos in filteredSCVideos">
                            <div class="card homeCards">
                                <a href="#!Video">

                                    <img class="card-img-top homeCardsImage" ng-src="{{videos.data.thumbnail_link}}" alt="Card image cap" data-ng-click="getIndex(videos.id)">
                                </a>
                                <div class="text-block">
                                    <small>{{videos.data.duration}}</small>
                                </div>
                                <div class="card-body" style="padding: 0px 3px 0px 3px">
                                    <h5 class="card-title homeCardsName"><strong><a href="#!Video" data-ng-click="getIndex(videos.id)" data-toggle="tooltip" data-placement="top" title="{{videos.data.video_name}}">
                                                <h5 class="card-title homeCardsName"><strong>{{(videos.data.video_name | limitTo: 50) + (videos.data.video_name.length > 50 ? ' ...' : '')}}</strong>
                                                </h5>
                                            </a></strong></h5>
                                    <i class="card-text homeCardsUploader" style="font-size: 14px" data-ng-controller="channelCtrl"><a href="" data-ng-click="getInfo(videos.data.video_uploader_Email)">{{(videos.data.video_uploader | limitTo: 35) + (videos.data.video_uploader.length > 35 ? ' ...' : '')}}</a></i>
                                    <p><small style="color: darkgrey;">{{videos.timestampdisplay}}</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="btn-group btn-group-sm" data-ng-show="showMoreSCClicked == true">
                                <button type="button" class="btn" ng-click="showLessSC(1)">Show Less</button>
                            </div>
                            <div class="btn-group btn-group-sm" data-ng-hide="showMoreSCClicked == true">
                                <button type="button" class="btn" ng-click="showMoreSC(1)">Show More</button>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <!-- ******************************** OTHERS VIDEOS **************************************-->
                    <h2><strong>Others</strong></h2>
                    <div class="row">

                        <div class="col-lg-3 col-md-6 col-12" style="margin-bottom: 10px;" data-ng-repeat="videos in filteredOthersVideos">
                            <div class="card homeCards">
                                <a href="#!Video">

                                    <img class="card-img-top homeCardsImage" ng-src="{{videos.data.thumbnail_link}}" alt="Card image cap" data-ng-click="getIndex(videos.id)">
                                </a>
                                <div class="text-block">
                                    <small>{{videos.data.duration}}</small>
                                </div>
                                <div class="card-body" style="padding: 0px 3px 0px 3px">
                                    <h5 class="card-title homeCardsName"><strong><a href="#!Video" data-ng-click="getIndex(videos.id)" data-toggle="tooltip" data-placement="top" title="{{videos.data.video_name}}">
                                                <h5 class="card-title homeCardsName"><strong>{{(videos.data.video_name | limitTo: 50) + (videos.data.video_name.length > 50 ? ' ...' : '')}}</strong>
                                                </h5>
                                            </a></strong></h5>
                                    <i class="card-text homeCardsUploader" style="font-size: 14px" data-ng-controller="channelCtrl"><a href="" data-ng-click="getInfo(videos.data.video_uploader_Email)">{{(videos.data.video_uploader | limitTo: 35) + (videos.data.video_uploader.length > 35 ? ' ...' : '')}}</a></i>
                                    <p><small style="color: darkgrey;">{{videos.timestampdisplay}}</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="btn-group btn-group-sm" data-ng-show="showMoreOthersClicked == true">
                                <button type="button" class="btn" ng-click="showLessOthers(1)">Show Less</button>
                            </div>
                            <div class="btn-group btn-group-sm" data-ng-hide="showMoreOthersClicked == true">
                                <button type="button" class="btn" ng-click="showMoreOthers(1)">Show More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
    <p style="text-align:center; font-size: 10px;">If there is any issue, please contact the admin at <strong>admin@admin.com</strong></p>
</div>
