<link rel="stylesheet" href="./assets/custom-css/video.css" />
<homeheader-file></homeheader-file>
<div class="container" data-ng-controller="channelCtrl">

    <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
        <div class="col-md-3 col-sm-4 text-center" style="margin-top: 10px">

            <ng-avatar bind="true" string="{{userName}}" max-length="3" auto-color="true" class="rounded-circle" style="display:inline-block; width: 150px; height: 150px;"></ng-avatar>

        </div>
        <div class="col-md-6 col-sm-6">
            <p><strong>
                    <h3>{{userName}}</h3>
                </strong></p>
            <p>{{currentUserId}}</p>
            <p>{{currentUserCourse}}</p>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 channelRow">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 col-12" style="margin-bottom: 10px;" data-ng-repeat="uservids in userChannelVideos">
                    <div class="card channelCards">
                        <a href="#!Video">

                            <img class="card-img-top channelCardsImage" ng-src="{{uservids.thumbnailLink}}" alt="Card image cap" data-ng-click="getIndex(uservids.id)">
                        </a>
                        <div class="text-block">
                            <small>{{videos.data.duration}}</small>
                        </div>

                        <div class="card-body">
                            <h6 class="card-title channelCardsName"><strong>{{uservids.video_name}}</strong></h6>
                            <p><i class="fas fa-eye"></i> {{uservids.views}}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>

</div>
