<link rel="stylesheet" href="./assets/custom-css/video.css" />
<header-file></header-file>
<div class="container">

    <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
        <div class="col-md-3 col-sm-4 text-center" style="margin-top: 10px">

            <ng-avatar bind="true" string="{{currentUserName}}" max-length="3" auto-color="true" class="rounded-circle" style="display:inline-block; width: 150px; height: 150px;"></ng-avatar>

        </div>
        <div class="col-md-6 col-sm-6">
            <p><strong>
                    <h3>{{currentUserName}}</h3>
                </strong></p>
            <p>{{currentUserId}}</p>
            <p>{{currentUserCourse}}</p>
            <h6>{{currentUservideo_upload}} Uploads</h6>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-md-8 order-md-1 col-sm-12 order-sm-2 col-12 order-2">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 col-12" style="margin-bottom: 10px;" data-ng-repeat="uservids in currentUserVideos">
                    <div class="card profileCards">
                        <a href="#!Video">

                            <img class="card-img-top profileCardsImage" ng-src="{{uservids.thumbnailLink}}" alt="Card image cap" data-ng-click="getIndex(uservids.id)">
                        </a>
                        <div class="text-block3">
                            <small>{{uservids.duration}}</small>
                        </div>
                        <div class="card-body" style="padding: 0px 3px 0px 3px">
                            <h6 class="card-title homeCardsName"><strong>{{uservids.video_name}}</strong></h6>
                            <i class="card-text homeCardsUploader">{{uservids.visibility}}</i>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-6">
                                    <i class="fas fa-eye"></i> {{uservids.views}}
                                </div>
                                <div class="tstamp">
                                    <p><small style="color: darkgrey;">{{uservids.timestampdisplay}}</small></p>
                                </div>
                                <div class="col-md-6 col-sm-6 col-6 statusVid">
                                    <div data-ng-show="{{uservids.block == true}}"><strong>BLOCKED</strong></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-4 order-md-2 col-sm-12 order-sm-1 col-12 order-1" style="margin-bottom: 15px;">
            <div class="profileColumns">
                <a href="#!Upload" class="btn btn-danger uploadVid">Upload Video</a>
            </div>
            <div class="profileColumns">
                <a href="#!ManageVideos" class="btn btn-primary uploadVid">Manage Videos</a>
            </div>
            <div class="profileColumns">
                <a href="#!EditProfile" class="btn btn-primary uploadVid">Edit Profile</a>
            </div>
            <div class="profileColumns">
                <a href="#!ChangePassword" class="btn btn-primary uploadVid">Change Password</a>
            </div>

        </div>

    </div>

</div>
