<link rel="stylesheet" href="./assets/custom-css/video.css" />
<header-file></header-file>
<div class="container">

    <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
        <div class="col-md-3 col-sm-4 text-center" style="margin-top: 10px">

            <ng-avatar bind="true" string="{{currentUserName}}" max-length="3" auto-color="true" class="rounded-circle" style="display:inline-block; width: 150px; height: 150px;"></ng-avatar>

        </div>
        <div class="col-md-6 col-sm-6">
            <p><strong>
                    <h3>{{currentUserName}}</h3>
                </strong></p>
            <p>{{currentUserId}}</p>
            <p>{{currentUserCourse}}</p>
            <h6>{{currentUservideo_upload}} Uploads</h6>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-6" style="margin-bottom: 10px;" data-ng-repeat="uservids in currentUserVideos">
                    <div class="card profileCards">
                        <a href="#!Video">

                            <img class="card-img-top homeCardsImage" ng-src="{{uservids.thumbnailLink}}" alt="Card image cap" data-ng-click="getIndex(uservids.id)">
                        </a>

                        <div class="card-body">
                            <h6 class="card-title homeCardsName"><strong>{{uservids.video_name}}</strong> <br /> {{uservids.visibility}}</h6>
                            <i class="card-text homeCardsUploader">{{uservids.video_uploader}}</i>
                            <p><i class="fas fa-eye"></i> {{uservids.views}}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="profileColumns">
                <a href="#!Upload" class="btn btn-danger uploadVid">Upload Video</a>
            </div>
            <div class="profileColumns">
                <a href="#!ManageVideos" class="btn btn-primary uploadVid">Manage Videos</a>
            </div>
            <div class="profileColumns">
                <a href="#!EditProfile" class="btn btn-primary uploadVid">Edit Profile</a>
            </div>
            <div class="profileColumns">
                <a href="#!ChangePassword" class="btn btn-primary uploadVid">Change Password</a>
            </div>
            <div class="profileColumns">
                <a href="#!Home" class="btn btn-primary uploadVid" ng-click="signout()">Sign Out</a>
            </div>
        </div>

    </div>

</div>
