<header-file></header-file>

<div class="container clearfix">

    <div class="container">

        <div class="centered" style=" width:600px; margin-top: 120px; margin-bottom:120px; padding:10px">
            <div class="jumbotron" style="background-color: White">

                <div class="form-group" style=" padding-right:10px; background-color:White">
                    <h2 style="margin-left:30px">Change Password</h2>
                    <form class="form-horizontal" style=" margin-left:50px;">

                        <div class="form-group input-group">

                            <div class="input-group-prepend">
                                <span class="input-group-text fas fa-unlock" id="basic-addon1"></span>
                            </div>
                            <input type="password" class="form-control" placeholder="Current Password" aria-describedby="basic-addon1" ng-model="currentPass" required />
                        </div>

                        <div class="form-group input-group">

                            <div class="input-group-prepend">
                                <span class="input-group-text fas fa-lock" id="basic-addon1"></span>
                            </div>
                            <input type="password" class="form-control" placeholder="New Password" aria-describedby="basic-addon1" ng-model="newPassword" required />
                        </div>

                        <div class="form-group input-group">

                            <div class="input-group-prepend">
                                <span class="input-group-text fas fa-lock" id="basic-addon1"></span>
                            </div>
                            <input type="password" class="form-control" placeholder="Repeat Password" aria-describedby="basic-addon1" ng-model="newPasswordrepeat" required />
                        </div>

                        <div class="form-group">

                            <button type="submit" ng-click="changePassword()" class="btn btn-success uploadButton" style="width:430px">Change Password</button>
                            <a href="#!userpage" class="btn btn-danger uploadButton" style="width:430px">Cancel</a>

                        </div>
                    </form>

                </div>
            </div>

        </div>

    </div>
</div>
