<nav class="navbar navbar-expand-md navbar-dark bg-danger">
    <div class="container-fluid">
        <a class="navbar-brand" href="#!Home" style="color: white; padding-left: 5px" onclick="reloadPage()">SwinHive</a>

        <div class="text-right">
            <a href="#!login" id="logo" style="color:White" data-ng-if="loggedIn == undefined || loggedIn == null || loggedIn == ''">Sign In</a>
            <a href="#!userpage" id="logo" style="color:White" data-ng-if="loggedIn != null">Profile</a>
            <a href="#!Home" id="logo" style="color:White" data-ng-show="loggedIn != null" ng-click="signout()">Sign Out</a>
        </div>

    </div>

</nav>

<script>
    function reloadPage() {
        if ($location.path() == "/Home") {
            location.reload();
        } else {
            //Do nothing
        }
    }

</script>
