<nav class="navbar navbar-expand-lg navbar-light bg-danger">
    <div class="container-fluid">
        <a class="navbar-brand" href="#!Home" style="color: white;">SwinHive</a>
        
        <div class="text-right">
            <a href="#!login" id="logo" style="color:White" data-ng-if="loggedIn == undefined || loggedIn == null || loggedIn == ''">Sign In</a>
            <a href="#!userpage" id="logo" style="color:White" data-ng-if="loggedIn != null">Profile</a>
        </div>

    </div>

</nav>
