html {
    overflow-y: hidden;
}

.post {
    background-color: white;
    border-radius: 3px;
    font-weight: bold;
    margin: 3px;
    padding: 2px 10px 2px 10px;
    cursor: pointer;
}

.post:disabled {
    background-color: #cccccc;
    border-radius: 3px;
    font-weight: bold;
    margin: 3px;
    padding: 2px 10px 2px 10px;
    cursor: default;
}

.vidNameRow {
    margin-top: 10px;
}

.commentedBox {
    margin-bottom: 15px;
}

.commentArea {
    word-wrap: break-word;
    margin-bottom: 5px;
    margin-right: 0px;
    font-size: 14px;
    padding: 0px 1px 5px 0px;
}

.pastCommentBox {
    padding-left: 0px;
}

.vid_comment {
    width: 100%;
    padding: 6px;
    border-radius: 5px;
    border-style: groove;
    resize: none;
    overflow: hidden;
}

.commentPoster {
    font-weight: bold;
    font-size: 14px;
    padding: 0px 10px 0px 0px;
}

.commentImgBox {
    text-align: center;
    display: inline-block;
}

.imageBoxComment {
    text-align: center;
    margin-top: 2px;
}

.commentBox {
    text-align: right;
    padding: 0px 10px 0px 0px;
    display: inline-block;
    margin-bottom: 5px;
}

.card-header {
    padding: 0px;
}

.container {
    background-color: white;
    position: relative;
    margin-top: 10px;
    border-radius: 5px;
}

.vidcontainer {
    background-color: white;
    position: relative;
    padding: 10px 25px 25px 25px;
    border-radius: 5px;
    margin-top: 5px;
    width: 87.5%;
}

.rightCol {
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
}

.rcmText {
    font-family: "Helvetica", Times, serif;
    font-size: 19px;
    margin-bottom: 5px;
}

.rcmImgHeader {
    border: none;
    width: 40%;
}

.cardDesc {
    width: 60%;
    position: relative;
    display: inline-block;
    float: right;
}

.rcmVidname {
    margin: 5px 0px 5px 0px;
    font-size: 15px;
    font-weight: bold;
    font-family: "Helvetica", Times, serif;
    word-wrap: break-all;
    height: 2.6em;
    line-height: 1.4em;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.rcmCards {
    min-width: 210px;
    width: 100%;
    margin-bottom: 12px;
    border-radius: 3px;
    max-height: 90px;
}

.rcmPics {
    height: 89px;
    width: 100%;
    position: relative;
    border-radius: 3px;
    margin: 0 auto;
    float: left;
}

.homeCards {
    height: 225px;
    width: 100%;
}

.profileCards {
    height: 200px;
    width: 100%;
}

.manageCards {
    height: 215px;
    width: 100%;
}

.homeCardsImage {
    width: 100%;
    max-width: 300px;
    height: 125px;
}

.homeCardsName {
    padding: 0px;
    margin-bottom: 5px;
    margin-top: 0px;
    word-wrap: break-all;
    height: 2.6em;
    line-height: 1.4em;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.homeCardsUploader {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.profileColumns {
    text-align: center;
}

.uploadVid {
    margin-bottom: 5px;
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
    background-color: gray;
    width: 90%;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.rcmUploader {
    margin-bottom: 0px;
    color: 	#778899;
    font-size: 13px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Helvetica", Times, serif;
}

.rcmViews {
    font-size: 12px;
    color: 	#778899;
    font-family: "Helvetica", Times, serif;
}

.hrline {
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    height: 1px;
    background-color: lightgray;
}

.hrline2 {
    margin-top: 1px;
    margin-bottom: 10px;
    border: none;
    height: 1px;
    background-color: lightgray;
}

.videoPlayer {
    margin-top: 5px;
}

.uploader {
    font-size: 14px;
}

.btn-xs {
    padding: 0px 5px 0px 5px;
}

.flagvid {
    text-align: right;
}

.vid_rating {
    font-weight: bold;
}

.vidname {
    font-size: 18px;
    font-weight: bold;
}

.vid_views {
    text-align: left;
    font-size: 12px;
    margin-top: 7px;
}

.vid_rate {
    text-align: left;
    font-size: 12px;
}

.categoryBox {
    margin-top: 20px;
    margin-bottom: 5px;
}

.tagBox {
    margin-top: 20px;
    margin-bottom: 5px;
}

.publishBox {
    font-size: 12px;
    color: grey;
    text-align: right;
}

.uploaded_date {
    font-weight: bold;
}

.flags {
    cursor: pointer;
}

.userimg {
    cursor: pointer;
}

.checked {
    color: red;
}

.flagbtn {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.userBtn {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.uploaderBox {
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 2px;
}

a.links:hover {
    text-decoration: none;
}

.descBox {
    padding: 10px 10px 10px 15px;
}

.links {
    display: flex;
    margin-top: 1px;
    margin-bottom: 1px;
    line-height: 33px;
}

.uploaderImg {
    margin-right: 10px;
}

.row.firstrow {
    padding-top: 20px;
}

.videoBox {
    text-align: center;
}

video {
    width: 100%;
    height: auto;
}

.videoPlayer {
    width: 100%;
    height: 100%;
    max-height: 700px;
}

.stars-outer {
    display: inline-block;
    position: relative;
}

.stars-outer::before {
    content: "\f005 \f005 \f005 \f005 \f005";
}

.stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    color: #FF0000;
}

.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0%;
}

.star {
    background: none;
    border: none;
    font-size: 1.5em;
    padding: 0em;
}

.star.selected {
    color: red;
}

.screen-reader {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.card-body {
    padding: 0px 10px 5px 10px;
}

@media (max-width: 575.98px) {
    .vidcontainer {
        background-color: white;
        position: relative;
        border-radius: 5px;
    }

}
